{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
    <div class="info">
        <p>About Page:</p>
        <p>
            Welcome to The Analog Specialists
            At The Analog Specialists, we are passionate about selling and repairing. 
            We also value our community and believe in giving back. 
            We invite you to explore our website and learn more about 
            The Analog Specialists. Whether you're a customer, client, or partner,  
            Feel free to reach out to us with any questions, feedback, or inquiries. 
            We look forward to building relationships, serving you, etc!
        </p>
        <p>
            Thank you for visiting The Analog Specialists.
        </p>
        <p>
            Sincerely,
            Python Development Course
        </p>
        <p>
            <i>Mentor</i>
            <b>&reg;atabekdemurtaza</b>
        </p>
    </div>
{% endblock %}