{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <!--<script src="{% static 'js/index.js' %}"></script>-->
    <div>
        <h2>About me</h2>
        <p id="name">Mahina</p>
        <p id="lastname">Genjebaeva</p>
        <p id="data">10.06.2007</p>
        <p id="hobby">I'm keen on programming</p>
        <h5 id="info">You can find me there:</h5>
        <img id="image" src="{% static 'images/jpg/walp.jpg' %}" height="300px" width="250px">
        <a id="tg" href="https://t.me/h1nagt">
            <img src="{% static 'images/jpg/telg.jpg' %}" height="40" width="40">
            My telegram </a>
        <a id="email" href="mailto:mahinatimurovna@gmail.com">
            <img src="{% static 'images/jpg/email.jpg' %}" height="40" width="40">
            Send email</a>
        <a id="inst" href="https://instagram.com/h1na.gt">
            <img src="{% static 'images/jpg/inst.jpg' %}" height="40" width="40">
            My instagram</a>
    </div>

    

</body>
</html>